{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/transform-runtime"
        // ,[  
        //     "transform-remove-console",
        //     {
        //         "exclude": [
        //             "warn"
        //         ]
        //     }
        // ]   
    ]
}